@import url(fonte.css);

:root {
    --fonte-principal: 'SansationBold';
    --gradiente-fundo: linear-gradient(90deg, rgba(54, 157, 162, 0.35) 5.71%, rgba(33, 140, 199, 0.35) 67.8%, rgba(23, 133, 215, 0.35) 95.71%, rgba(24, 133, 214, 0.35) 95.71%);
    --fundo-botao: linear-gradient(90deg, #369DA2 5.71%, #218CC7 67.8%, #1785D7 95.71%, #1885D6 95.71%);


}


.logo {
    width: 120px;    
}

.container1 {
    font-family: var(--fonte-principal);
    width: 80%;
    margin: 0 auto;
}

.container__titulo {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 2em;
}

.titulo-principal {
    font-size: 32px;
}

.container__nomesobre{
    display: flex;
    gap: 50px;
}

.container__telCPF {
    display: flex;
    gap: 50px;   
}
.container-register {
    width: 100%;
    min-height: auto;

    display:  flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    padding: 15px;

    background-color: #fff;
} 
.wrap-register{ 
    width: 70%;
    
    background-color: rgba(34, 143, 160, 0.2);
    overflow: hidden;
    padding: 2em 3em;
   

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 2em 0 2em 0;
   

}

.register-form {
    width: 100%;
}

.register-form-tittle {
    width: 100%;
    display: block;
    font-size: 60px;
    color: black;
    font-weight: bold;
    opacity: 1;

    line-height: 1.2;
    text-align:center;
    height: 290px;
    
    
}

.register-form-tittle img {  
    width: 20%;
    margin-top: 50px ;
    margin-left: 50px;
   
}


.wrap-input{
    width: 100%;
    position: relative;
    border-bottom:2px solid #adadad;
    margin-bottom:0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;

}


.input {
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
    border: none;
    display: block;

    width: 50%;
    height: 45px;

    background-color: transparent ;

    padding: 0 5px;

}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: rgb(0, 0, 0);
     
}

.focus-input::before{

    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all a.4s;
    -moz-transition: all a.4s;

    background: -webkit-linear-gradient( to left, #369DA2, #218CC7, #1885D6 );
    background: -o-linear-gradient( to left, #369DA2, #218CC7, #1885D6 );
    background: -moz-linear-gradient( to left, #369DA2, #218CC7, #1885D6 );
    background: linear-gradient( to left, #369DA2, #218CC7, #1885D6 );


}

/* placeholder */
.focus-input::after{
    font-size: 15px;
    color: #000000cb;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all a.4s;
    -moz-transition: all a.4s;

}

.input:focus{
    outline: 0;
}

.input:focus + .focus-input::after{
    top: -5px;
}

.input:focus + .focus-input::before{
    width: 100%;
}

.has-val + .focus-input::after{
    top: -5px;
}

.has-val + .focus-input::before{
    width: 100%;
}



.container-register-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
    

    

}


/* cadastro */
.register-form-btn{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    
    line-height: 1.2;
    font-family: Sansation;
    display: block;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 45px;
    background: var(--fundo-botao);
    
}

.register-form-btn:hover{
    cursor: pointer;
}
.container-voltar-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
    

}

/* voltar botao */
.voltar-form-btn{
    font-size: 15px;
    border-radius: 10px;
    color: black;

    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 45px;
    background-color: #fff;
    font-family: Sansation;
    
    border-color: #218CC7;
    
}

.voltar-form-btn:hover{
    cursor: pointer;
}

.text-center{
    display: flex;
    /**justify-content: center;
    align-items: center;*/
    left: 10px;
    margin-top: 10px;
}

.txt2{
    font-size: 14px;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    padding: auto;
}

#voltar {
    
    margin-top: 15%;
    margin-right: 40%;
    
}

#cadastrar {

    margin-top: 15%;
    
}




  