@import url(fonte.css);


.footer {
    background-color: #1454a4;
    text-decoration: none;
    
}

.footer__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    margin-left: 5%;
    display: flex;
    gap: 20px;
    
}

.link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
}

.footer__midias {
    margin-right: 5%;
    display: flex;  
    justify-content: center;
    align-items: center;

}
.icone {
    width: 60%;
}   