@import url(fonte.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navegacao2 {
    background-color: #1454a4;
    display: inline-block;
    width: 100%;
      
   
    
}


.senha {
    font-size: 50px;
}

.icone_olho {
    width: 45px;
    height: 25px;
    margin-bottom: 3px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.603)
}

.campo_senha {
    display: flex;
    align-items: flex-end;
    gap: 230px;
}
.container {
    width: 100%;
    margin: 0 0;
    height: 1200px;
    font-family: SansationBold;
    
    background: url('../assets/imagens/IEEEfundo.png') no-repeat center center fixed;
    background-size: cover;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    
    
    display:  flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    padding: 15px;
} 

.wrap-login { 
    width: 650px;
    height: auto;
    background-color:#fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 55px 33px 55px ;

    font-size: 100px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);

}

.login-form {
    width: 100%;
    font-size: 24px;
}

.login-form-tittle {
    display: block;
    font-size: 24px;
    color: #133B6C;

    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
   

}

.login-form-tittle img {  
    width: 35%;
}

.wrap1-input{
    width: 525px;
    position: relative;
    border-bottom:2px solid #adadad;
    margin-top: 15px;
    
}
.email{
    font-size: 15px;
}

.input {
    
    color: #133B6C;
    line-height: 1.2;
    border: none;
    display: block;
    
    font-size: 24px;

    width: 100%;
    height: 45px;

    background-color: transparent ;

    padding: 0 5px;
    

}
.focus-input:-ms-input-placeholder  {
    font-size:25px;
  }

.focus-input::-webkit-input-placeholder {
    font-size:25px;
  }

.focus-input:-moz-placeholder {
    font-size:25px;
  }

 .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #adadad;
    
     
}

.focus-input::before{

    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all a.4s;
    -moz-transition: all a.4s;

    background: -webkit-linear-gradient( to left, #369DA2, #218CC7, #1885D6 );
    background: -o-linear-gradient( to left, #369DA2, #218CC7, #1885D6 );
    background: -moz-linear-gradient( to left, #369DA2, #218CC7, #1885D6 );
    background: linear-gradient( to left, #369DA2, #218CC7, #1885D6 );


}

.focus-input::after{
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    

    -webkit-transition: all 0.4s;
    -o-transition: all a.4s;
    -moz-transition: all a.4s;

}


.input:focus{
    outline: 0;
}

.input:focus + .focus-input::after{
    top: -5px;
}

.input:focus + .focus-input::before{
    width: 100%;
}

.has-val + .focus-input::after{
    top: -5px;
}

.has-val + .focus-input::before{
    width: 100%;
}



.container-login-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
    

}

.login-form-btn{
    font-size: 24px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: Sansation;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    width: 100%;
    height: 30px;
    background-color: #133B6C;
}

.login-form-btn:hover{
    cursor: pointer;
}

.text-link{
    display: flex;
    gap: 5px;
    /*justify-content: center;*/
    align-items: center;
    left: 10px;
    margin-top: 10px;
}

.texto1{
    font-size: 16px;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

#txt2 {
    font-size: 16px;
    color: #0C6FE3;
    line-height: 1.5;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}