* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.container2{
    margin: 0 auto;
    width: 100%;

}
.groupimage{
    display: block;  
    margin-bottom: 200px;       
    
}

#coracao2 {
    display: none;
}

#coracao2:checked + label > svg {
    animation: preencher;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes preencher {
    0% {
        fill: transparent;
    }
    100% {
        fill: #D73B3B;
    }  
}

.imagens{
    background-image: url("../assets/imagens/eventoHalloween.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(10px);
    width: 100%;
    height: 500px;
    
    /**backdrop-filter: blur(100%);
    margin-left: 500px   ;
    display: block;
    align-items: center;
    justify-content: center;
    */
    
    
}   

.imagenev{
    border-radius: 20px;
    margin-top: 20px;
    opacity: 100%;
    display:  flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -460px;
    margin-left: 350px;
    filter: blur(0px);
    width: 50%;
   
}

.infoev{
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nomeEV{
    font-size: 30px;
    font-family: SansationBold;
    font-size: 40px;
    text-wrap: nowrap;
    
}

.favoritar{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 100px;
    gap: 10px;
    margin-bottom: 210px;

}
.favoritar_txt{
    font-family: SansationBold;
    font-size: 25px;
}
.like{
  
    font-size: 30px;

}

.icone_favoritar{
  

    color: red;
}
.icone_favoritar:hover{
    cursor: pointer;
}
.icone_favoritar::after{
    background-color: red;
}
.icone_calendario{
    display: flex;
  
}
.data{
    display: flex;
    font-family: SansationBold;
    font-size: 22px;
}

.hora{
    display: flex;
    font-family: SansationBold;
    font-size: 22px;
}

.local{
    display: flex;
    font-family: SansationBold;
    font-size: 22px;
}

.icone_relogio{
    display: flex;

   
}
.icone_loc{
    display: flex;
   
}

.acesso{
    display:block;
    height: 300px;
    width: 350px;
    background-color: rgba(145, 153, 155, 0.1);
    border-radius: 20px;
    margin-left: 400px;
    margin-bottom: 25px;
    font-family: Sansation;
}
.box-ingresso{
    display:block;
    height: 70px;
    width:350px;
    background: linear-gradient( to right,  #369DA2, #218CC7, #1885D6 );
    border-radius: 20px 20px 0px 0px ; 
}
.txt-ing{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: -50px;
    font-size: 30px;
    color: #fff;
    font-family: SansationBold;
}
.nome_ev{
    display: flex;
    padding: 25px;
    justify-content: center;
   
    font-size: 30px;
    color: black;
    font-family: SansationBold;
}

.btn-ing{
    font-size: 15px;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;

    line-height: 1.2;
  
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50px;
    background:linear-gradient(to right,  #369DA2, #218CC7, #1885D6 );
    margin-top: 80px;
    margin-left: 80px;
}
.btn-ing:hover{
    cursor: pointer;
}

.infos_ipc{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color:  rgba(145, 153, 155, 0.2);
    width: 100%;
    padding: 100px;
    font-family: Sansation;
    
    
   
}
.desc{
    display: block;
}
.descricao{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    
}
.detalhes{
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 24px;
}

.politica{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
.detalhes2{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 24px;
}

.voltar-home{
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    font-family: SansationBold;
    line-height: 1.2;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 50px;
    background-color: #fff;
    margin-right: 1250px;
  
    border-color: rgba(34, 143, 160, 1);
    margin-bottom: 0px;
}

.voltar-home:hover{
    cursor: pointer;
}

.containere {
    display: flex;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.end-evento  {
    display: flex;
    align-items: center;
}


.container-botao {
    margin-bottom: 100px;
    margin-left: 50px;
    margin-top: 55px;
}

.voltar {
    text-decoration: none;
    text-transform: capitalize;
   
}
