:root {
    --fundo-botao: linear-gradient(90deg, #369DA2 5.71%, #218CC7 67.8%, #1785D7 95.71%, #1885D6 95.71%);
}


.navegacao_p {
    background-color: #1454a4;
    display: flex;
    width: 100%;
    height: 80px;  
   align-items: center;
   text-decoration: none;
   justify-content: space-between;
  
}

.container__pesquisa {
    display: flex;
    align-items: center;
    width: 100%;

}

.cabecalho__pesquisa {
    text-align: center;
    
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.8em;
    width: 30%;
    height: 40%;

}

.cabecalho__pesquisa::placeholder {
    color: gray;
    
    text-align: center;
    background: url(../assets/imagens/Pesquisa.svg) no-repeat;
  
}

.calendario {
    width: 30px;
   
}

.perfil {
    width: 25px;
}
.header_linkp {
    text-decoration: none;
    color: white;
    font-family: SansationLight;
    font-size: 16px;
    text-wrap: nowrap;
   

}

.nav_direita {
    margin-right: 30px;
    display: flex;
    gap: 45px;
}

.nav__eventos {
    text-align: center;
    display: flex;
    
}

.nav__meuperfil {
    text-align: center;
    display: flex;    
}

.conteudo {
    background-image: url('../assets/imagens/IEEEfundopreto.png');
    background-size: cover;
    width: 100%;
    margin: 0 0;
    height: 1200px;
    font-family: SansationBold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__perfil {
    
    
    background-color: white;
    width: auto; 
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 40px;

}

.icone-user {
    width: 150px;
}

.campo-perfil::placeholder {
    background-image: url(../assets/imagens/edit.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right;
    text-align: left;
    padding: 10px;
    font-family: SansationBold;
}

#inputp {
    border-radius: 10px;   
    height: 40px;
    width: 400px;
    padding-right: 5px;
}

.campo-perfil1::placeholder {
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right;
    text-align: left;
    padding: 10px;
    font-family: SansationBold;
}

.nome-sobre {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.telefone-CPF {
    display: flex;
    gap: 50px;
    margin-top: 30px;

}

.alone-input {
    #inputp {
        width: 850px;
    }
    margin-top: 30px;
 
}
 
.parag {
    font-family: SansationBold;
    font-size: 20px;
}

.deletar {
    display: flex;
    align-items: center;
    margin-top: 30px;
    
    font-weight: 700;
    color: red;
    margin-right: 580px;
}

.lixeira {
    width: 30px;
}

.botoes {
    display: flex;
    gap: 20px;
    margin-left: 600px;
}

.botao {
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    width: 170px;
    height: 50px;
    font-family: SansationBold;
    border-color: #218CC7;
}

#salvar {
    border-color: transparent;
    background-image: var(--fundo-botao);
    color: white;
}

.test {
    text-decoration: none;
}