* {
    margin: 0;
    padding: 0;
  
}

.navegacao1 {
    background-color: #1454a4;
    display: flex;
    width: 100%;
  
    flex-wrap: nowrap;
    font-family: SansationBold;
   
    
}



/* botão cadastre-se do header*/
.cadastre_se{
    
    text-decoration: none;
    color: white;
   
    
}

.entrar {
    text-decoration: none;
    color: white;
    
}

.links__entrada {
    margin-top: 2.5%;
    margin-left: 75%;
    display: flex;
    gap: 50px;
   
    
    
}



.container{
   
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
 
  
    
    gap: 100px;
    padding: 100px 0;

    background-image: url("../../assets/imagens/IEEEfundo.png");
    

} 

.desc1{
    width: 75%;
    display: flex;
    color: #fff;
    font-size: 30px;
    
   
    gap: 100px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.desc2{
    width: 75%;
    display: flex;
    color: #fff;
    font-size: 30px;

    text-emphasis: justify;
    
    gap: 100px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.desc3{
    width: 75%;
    display: flex;
    color: #fff;
    font-size: 30px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}


#gradiente{
    background: linear-gradient(to right, #369DA2, #218CC7, #1885D6);
    -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
    background-clip: text;
    color: transparent; /* Define a cor do texto como transparente para que o gradiente seja visível através do texto */
    display: inline-block;
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
    gap: 300px;
    

  
   
}

.tst1 {
    text-decoration: none;
}

.register-btn{
    font-size: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 50px;

    font-family: SansationBold;
    text-decoration: none;
    color: white;
    
    line-height: 1.2;
   
    
    padding: 20px;
    width: auto;
    height: auto;
    background:linear-gradient( to right,  #369DA2, #218CC7, #1885D6 );
    
}

.register-btn:hover{
    cursor: pointer;
}
.login-btn{
    border: none;
    border-radius: 10px;
    font-size: 20px;


    font-family: SansationBold;
    text-decoration: none;
    color: white;

    line-height: 1.2;
 
    padding: 20px;
    width: 154px;
    height: auto;
    background:linear-gradient( to right, #369DA2, #218CC7, #1885D6 );
    
}

.login-btn:hover{
    cursor: pointer;
}



.imagem1{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding-left: 0px;
}