* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacao1 {
    background-color: #1454a4;
    display: flex;
    width: 100%;
    height: 100%;  
    flex-wrap: nowrap;
    
}

/* botão cadastre-se do header*/
.cadastre_se{
    margin-right: 50%;
    
}

.links__entrada {
    margin-top: 2.5%;
    margin-left: 75%;
    display: flex;
    
}

.container {
    margin: 0 auto;
}

.container{
    width: 100%;
    height: 1000px;

    display:  block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    padding: 5px;

    background-image: url("../../assets/imagens/IEEEfundo.png");
    

} 

.desc1{
    width: 45%;
    display: block;
    color: #fff;
    font-size: 30px;
    margin-top: 40px;
    height: 870px;
    margin-left: 620px;
}
.desc2{
    width: 40%;
    display: block;
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
    margin-top: -610px;
}

.desc3{
    width: 45%;
    display: block;
    color: #fff;
    font-size: 30px;
    margin-top: 300px;
    margin-left: 370px;
    height: 40px;
}

.desc4{
    width: 35%;
    display: block;
    color: #fff;
    font-size: 30px;
    margin-left: 400px;
}
#gradiente{
    background: linear-gradient(to right, #369DA2, #218CC7, #1885D6);
    -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
    background-clip: text;
    color: transparent; /* Define a cor do texto como transparente para que o gradiente seja visível através do texto */
    display: inline-block;
}

